// Variables

$light-grey: #ccc;
$dark-grey: #222;
$orange: #FF7963;
$grey-dark: #4B484B;

$text-color: $dark-grey;

// You can use varibales inside variables
$primary: $grey-dark;
$secondary: $orange;


@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,300);
// Font families
$helvetica: Helvetica, Arial, sans-serif;
$titillium-web: 'Titillium Web', sans-serif;